@using QLCH.Models
@model List<GioHang>

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-content-right">
                    <div class="woocommerce">
                        <form method="post" action="#">
                            <table cellspacing="0" class="shop_table cart">
                                <thead>
                                    <tr>
                                        <th class="product-name">Mã sản phẩm</th>
                                        <th class="product-thumbnail">&nbsp;</th>
                                        <th class="product-name">Tên Sản Phẩm</th>
                                        <th class="product-quantity">Số lượng</th>
                                        <th class="product-price">Đơn giá</th>
                                        <th class="product-subtotal">Thành Tiền</th>
                                        <th class="product-subtotal">&nbsp;</th>
                                        <th class="product-subtotal">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr class="cart_item">
                                        <td class="product-name">
                                            @item.maSP
                                        </td>

                                        <td class="product-thumbnail">
                                            <a href=""><img src="@Url.Content("~/Assets/img/" + item.hinhAnh)" alt="Alternate Text" width="50" height="50" /></a>
                                        </td>

                                        <td class="product-name">
                                            <a href="">@item.tenSP</a>
                                        </td>


                                        @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { @masp = item.maSP }))
                                        {
                                           <td class="product-quantity">
                                                 <div class="quantity buttons_added">
                                                     <input type="number" size="4" class="input-text qty text" title="Qty" value="@item.soLuong" name="txtSoLuong" min="1" step="1">

                                                 </div>
                                            </td>

                                            @*<td>
                                                <input type="number" name="txtSoLuong" min="1" value="@item.soLuong" />
                                            </td>*@
                                            <td class="product-price">
                                                <span class="amount">@Html.FormatValue(item.donGia, "{0:#,###}") VNĐ VNĐ </span>
                                            </td>

                                            <td class="product-subtotal">
                                                @Html.FormatValue(item.thanhTien, "{0:#,###}") VNĐ
                                            </td>
                                            <td><input type="submit" value="Cập nhật" /></td>
                                        }
                                        <td>@Html.ActionLink("Xóa", "XoaGioHang", new { @masp = item.maSP })</td>
                                    </tr>

                                    }

                                </tbody>
                                <tr style="text-align:right;font-weight:bold;color:red;">
                                    <td colspan="3">Số lượng sản phẩm: @ViewBag.TongSoluong</td>
                                    <td colspan="5">Tổng thành tiền: @ViewBag.TongTien</td>
                                </tr>
                                <tr>
                                    <td colspan="8" style="font-weight:bold;text-align:right">@Html.ActionLink("Xóa tất cả", "XoaTatCaGioHang")</td>
                                </tr>
                                <tr>
                                    <td class="actions" colspan="6">
                                        <div class="coupon">
                                            <label for="coupon_code">Coupon:</label>
                                            <input type="text" placeholder="Coupon code" value="" id="coupon_code" class="input-text" name="coupon_code">
                                            <input type="submit" value="Apply Coupon" name="apply_coupon" class="button">
                                        </div>

                                        @*<input type="submit" value="Checkout" name="proceed" class="checkout-button button alt wc-forward">*@
                                    </td>
                                    <td colspan="8" style="font-weight:bold;text-align:center;font-size:20px">
                                       @Html.ActionLink("Đặt hàng", "DatHang", "GioHang")
</td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

